*{
    margin: 0;
    padding: 0;
    outline: 0;
}

.container{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 100%;
}

nav{
    width:100%;
    height:64px;
    background-color: #b670b6;
    position: relative;
    z-index: 1;
}

nav h1{
    position: absolute;
    top: 50%;
    color: #fafafa;
    transform: translateY(-50%);
    text-transform: uppercase;
}

nav button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 30px;
    height: 30px;
    background-image: url(55369.png);
    background-size: cover;
    background-position: center;
    background-color: transparent;
    border: none;
}

.search{
    height: 64px;
    width: 100%;
    background-color:  #b670b6;
    position: relative;
    z-index: 0;
}

.search input{
    width: calc(100% - 180px);
    padding: 10px 15px;
    margin-right: 15px;
    font-size: 1.3rem;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid #fafafa;
    color: #fafafa;
}

.search button{
    padding: 10px 15px;
    background-color: transparent;
    border: 2px solid #fafafa;
    color: #fafafa;
    transition: .4s;
}

.hide{
    opacity: .3;
    margin-bottom: -64px;
}

.search input::placeholder{
    color: #F6EBF7;
}

.search button:hover{
    background-color: #fafafa;
    color: #212121;
}

.music-grid-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.music-grid{
    flex-direction: row;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1000px;
    align-items:center;
}
.first-item{
    flex-direction: row;
}