*{
    margin: 0;
    padding: 0;
    outline: 0;
}
body{
    background-color: thistle;
}
.container{
    top: 50%;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%,-50%);
    padding: 16px;
    width: 600px;
    border-radius: 15px;
    background-color: #d889df;
    box-shadow: 5px 5px 11px #a2b1c6 , -5px -5px 11px #fff;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}
.container img{
    width: 80%;
    margin-bottom: 10px;
}
.container h1{
    font-size: 1.5rem;
    margin: 12px 0;
}
.level{
    width: 80%;
    -webkit-appearance: none;
    appearance: none;
    background-color: thistle;
    box-shadow: 5px 5px 11px #a2b1c6 , -5px -5px 11px #fff;
    border-radius: 25px;
    margin-bottom: 12px;
}
.level::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    background-color:thistle;
    box-shadow: 2px 2px 5px #a2b1c6 , -2px -2px 5px #fff;
    width: 25px;
    height: 25px;
    border-radius: 25px;
}
.buttons{
    display: inline-block;
}
.buttons button{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: thistle;
    border: none;
    box-shadow: 2px 2px 5px #a2b1c6 , -2px -2px 5px #fff;
}
#play{
    margin: 0 16px;
}
.buttons button img{
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%,-50%);
    width: 25px;
    height: 25px;
}